services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./.data/qdrant:/qdrant/storage
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - ./.data/redis:/data
